.ali{
    background-color: green;
   
    height: 100px;
    border: 2px solid black ;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
    //* Extra small devices (phones, 600px and down) /
@media only screen and (max-width: 600px) {
 flex-direction: column;
 height: 200px;
}
// Small devices (portrait tablets and large phones, 600px and up) /
// @media only screen and (max-width: 768px) {
//     flex-direction: column;
//     height: 200px;
// }


    .in{
height: 50px;
width: 300px;
margin-top: 1%;
border: 5px;
padding-left: 15px;
@media only screen and (max-width: 600px) {
margin-left: -3%;
height: 40px;
   }

   @media only screen and (max-width: 768px) {
    width: 250px;
   margin-left: 10%;
}
    }

h1{
    font-size: 25px;
    margin-top: 1%;
    @media only screen and (max-width: 600px) {
       font-size: 20px;
           }
           // Medium devices (landscape tablets, 768px and up) /
@media only screen and (max-width: 768px) {
    font-size: 20px;
    margin-left: 25%;
}
    
}












}